"*":
  "autoclose-html": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter"
      "atom-typescript"
      "angular-2-typeScript-snippets"
      "linter-python"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Monaco"
    invisibles: {}
    preferredLineLength: 240
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "835f1815-e50f-a46f-6b87-aacda9c58df4"
  linter:
    errorPanelHeight: 24
    showErrorPanel: false
  "linter-flake8":
    maxLineLength: 120
  "linter-pep8":
    maxLineLength: 240
  "linter-python":
    withPep8: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".console.python.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".generic-config.jinja.text":
  editor:
    preferredLineLength: 120
".gfm.jinja.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".html.jinja.text":
  editor:
    preferredLineLength: 120
".jinja.python.source":
  editor:
    preferredLineLength: 120
".jinja.shell.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".jinja.source":
  editor:
    preferredLineLength: 120
".jinja.source.yaml":
  editor:
    preferredLineLength: 120
    tabLength: 4
".jinja.text.xml":
  editor:
    preferredLineLength: 120
    tabLength: 4
".python.regexp.source":
  editor:
    preferredLineLength: 120
".python.source":
  editor:
    preferredLineLength: 120
".python.text.traceback":
  editor:
    preferredLineLength: 120
    tabLength: 4
